@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f8f8ff;
}

.content {
  width: 80%;
  margin: auto;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 65, 108);
}

header a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding: 3px 10px;
  border: 1.5px solid rgb(255, 65, 108);
  border-radius: 15px;
  transition: 0.2s;
}

header a:hover {
  background: rgb(255, 65, 108);
  color: #fff;
}

main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main h1 {
  background-image: linear-gradient(
    to right,
    rgb(255, 65, 108),
    rgb(255, 75, 43)
  );
  -webkit-background-clip: text;
  color: transparent;
}

main p {
  font-size: 18px;
}

.recent-header {
  position: relative;
  margin: 10px 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 65, 108),
    rgb(255, 75, 43)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.recent {
  background-image: linear-gradient(
    to right,
    rgb(255, 65, 108),
    rgb(255, 75, 43)
  );
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.recent .card {
  height: 350px;
  width: 300px;
  background: #fff;
  margin: 0 30px;
  border-radius: 5px;
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  width: 3px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h2,
p {
  padding: 0 10px;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

footer h3 {
  background-image: linear-gradient(
    to right,
    rgb(255, 65, 108),
    rgb(255, 75, 43)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  transition: ease 0.2s;
}

.c a {
  text-decoration: none;
  color: transparent;
}

.c img {
  width: 100%;
  height: 100%;
}

.c:hover {
  background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
  transform: translateY(-10px);
}

@media (max-width: 800px) {
  .recent {
    flex-direction: column;
  }
  .recent .card {
    margin: 20px 0;
    height: 400px;
  }
  footer {
    flex-direction: column;
  }
}
