@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Source+Sans+Pro&display=swap');

:root {
  --white: #f8f9fa;
  --dark-white: #ced4da;
  --black: #212529;
  --dark-gray: #343a40;
  --light-gray: #495057;
  --red: #ef233c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
  position: relative;
}

.container {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

/*! H E A D E R */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-size: 1.2rem;
}

header h1 a {
  text-decoration: none;
  color: var(--black);
  font-family: 'Roboto Mono', monospace;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 10px 6px;
  outline: none;
  font-weight: bold;
}

header nav a:hover,
header nav a:focus {
  color: var(--black);
}

.active-link {
  color: var(--light-gray);
}

/* ! S I D E B A R */

.burger {
  display: none;
}

.burger:hover,
.burger:focus {
  transform: scale(0.9);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 50%;
  max-width: 300px;
  top: 0;
  right: 0;
  background: var(--light-gray);
  display: none;
}

.sidebar a {
  text-decoration: none;
  color: var(--dark-white);
  font-size: 2rem;
  font-weight: normal;
}

.sidebar a:hover,
.sidebar a:focus {
  color: var(--white);
  border: none;
}

.sidebar-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

/*! F O O T E R */

footer {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social a {
  margin: 0 1rem;
}

.social a img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 0.2s;
}

.social a img:hover,
.social a img:focus {
  transform: scale(1.1);
}

/*! M E D I A */

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .text {
    text-align: center;
    margin-bottom: 1rem;
  }
  .full-navigation {
    display: none;
  }
  .burger {
    display: block;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
}
