@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --black: #212529;
  --pale-nav-blue: #2b2d42;
  --gray: #8d99ae;
  --white: #edf2f4;
  --rose: #ef476f;
  --red: #d90429;
  --sub: #272640;
  --yellow: #fca311;
}

body {
  background: var(--white);
  color: var(--black);
}

/* ! ELEMENTS */

h1,
h2 {
  font-family: 'Roboto Mono', monospace;
  color: var(--pale-nav-blue);
}

h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  color: var(--sub);
  padding-left: 1rem;
  border-left: 2px solid var(--rose);
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
}

/* ! PAGE COMPONENTS */

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.button {
  display: table;
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  background: var(--black);
  color: var(--rose);
}

.button:hover,
.button:focus {
  color: var(--yellow);
}
/* ! HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-size: 1.2rem;
}

/* ! Navigation */

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  color: var(--rose);
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 10px 6px;
  outline: none;
}

header nav a:hover,
header nav a:focus {
  color: var(--pale-nav-blue);
  box-shadow: 0 0 1px #2b2d42;
}

/* ! CHILDREN ELEMENT CONTAINER */

.container {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ! Works Cards */

.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 2rem;
}

.works a {
  color: var(--rose);
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  box-shadow: 0 0 5px var(--gray);
  border-radius: 1rem;
  outline: none;
}

.works a:hover,
.works a:focus {
  background: var(--black);
  color: var(--yellow);
}
