h1,
h2 {
  font-family: 'Roboto Mono', monospace;
  color: var(--midnight);
}

h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  color: var(--pale-blue);
  padding-left: 1rem;
  border-left: 3px solid var(--pink);
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

strong {
  color: var(--gray);
}

button {
  display: table;
  font-size: 1.2rem;
  padding: 2px 1rem 5px;
  color: var(--pink);
  background: var(--midnight);
  border: 2px solid var(--pink);
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}

button:hover,
button:focus {
  color: var(--sky);
  background: var(--gray);
  border-color: var(--sky);
}

button:active {
  color: var(--black);
  background: var(--yellow);
  border: 2px solid var(--black);
}

.button {
  display: table;
  margin: 1rem 0;
  padding: 3px 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  background: var(--pink);
  color: var(--midnight);
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: 0.1s;
}

.button:hover,
.button:focus {
  color: var(--white);
  background: var(--pale-blue);
}
