.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  gap: 2rem;
}

.about {
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--dark-white);
}

.about h2 {
  margin: 1rem 0 0.5rem;
}

.form {
  background: #ffffff;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form label {
  display: table;
  font-size: 1.2rem;
  margin-bottom: 3px;
  color: var(--black);
}

.form input,
.form textarea {
  font-size: 1.3rem;
  width: 300px;
  margin-bottom: 1rem;
  padding: 3px 10px;
  border: 2px solid var(--light-gray);
  outline: none;
}

.form input:focus,
.form textarea:focus {
  border: 2px solid var(--dark-white);
}

.form textarea {
  resize: none;
  height: 150px;
}

.error {
  display: none;
  margin-top: -0.5rem;
  font-size: 0.9rem;
  color: var(--red);
  padding-left: 5px;
  border-left: 2px solid var(--dark-white);
  letter-spacing: 1.5px;
}
