.social {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social a:hover,
.social a:focus {
  background: var(--background);
}

.social img {
  width: 2rem;
}
