@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
  --background: #363748;
  --navigation: #8d77fe;
  --title: #b0a0fc;
  --text: #bfc8ea;
  --black: #0a0a0b;
  --link: #ff75a3;
  --code: #fdc036;
  --dbg: rgba(0, 0, 0, 0.05);
  --sdbg: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', monospace;
}

body {
  background: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title);
}

a {
  font-size: 1.2rem;
  color: var(--link);
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

li {
  list-style-position: inside;
  font-size: 1.2rem;
}

/* ! - - - - - - - ! */

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
}

.content {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container footer {
  display: none;
}

@media (max-width: 800px) {
  .container {
    margin-top: 50px;
    padding-left: 0;
    min-height: calc(100vh - 50px);
  }
  .container footer {
    display: block;
  }
}

::selection {
  color: var(--text);
  text-shadow: 0 0 5px var(--black);
  background: var(--title);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--navigation);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--title);
}
