@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
  --white: #d2d4e3;
  --black: #04030f;
  --midnight: #252b48;
  --slate: #4b4aa7;
  --coral: #f95d6e;
  --dbg: rgba(0, 0, 0, 0.05);
  --wbg: rgba(255, 255, 255, 0.01);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', monospace;
}

body {
  background: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--slate);
}

a {
  font-size: 1.2rem;
  color: var(--coral);
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

li {
  list-style-position: inside;
  font-size: 1.2rem;
}

/* ! - - - - - - - ! */

.container {
  width: 100%;
  padding-left: 250px;
}

.content {
  width: 90%;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (max-width: 800px) {
  .container {
    margin-top: 50px;
    padding-left: 0;
  }
  .content {
    min-height: calc(100vh - 50px);
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--midnight);
}
::-webkit-scrollbar-thumb {
  background: var(--slate);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--coral);
}
