.button {
  display: table;
  background: var(--primary);
  color: var(--background);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 0 1rem;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background: var(--link);
  color: var(--text);
}
