.button {
  display: table;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.4rem;
  margin: 1rem 0;
  padding: 0.1rem 1rem 0;
  text-decoration: none;
  background: var(--title);
  color: var(--black);
  outline: none;
}

.button:hover,
.button:focus {
  background: var(--text);
}
