@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
  --background: #1f242c;
  --text: #fdfdfd;
  --sidebar: #222831;
  --primary: #a7ff83;
  --link: #ff304f;
  --ls: rgba(0, 0, 0, 0.2);
  --ds: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

body {
  background: var(--background);
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--link);
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.base {
  overflow-x: hidden;
}

.contentContainer {
  margin-left: 250px;
  width: calc(100vw - 250px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
}

@media (max-width: 800px) {
  .base {
    width: 90vw;
    margin: auto;
  }
  .contentContainer {
    margin: 0;
    width: 100%;
  }
  .content {
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 50px);
  }
}
