.postContainer {
  padding: 1rem 0;
  border-radius: 1rem;
  margin: 2rem 0;
  max-width: 100%;
}

.postContainer h1,
.postContainer h2,
.postContainer h3,
.postContainer h4,
.postContainer h5,
.postContainer h6 {
  margin: 1.5rem 0 0.5rem;
}

.postContainer .date {
  display: table;
  color: var(--link);
  border-bottom: 1px solid var(--link);
  margin: -0.5rem 0 1rem;
}

.postContainer p {
  margin: 0.5rem 0;
}

.postContainer a:hover,
.postContainer a:focus {
  background: rgba(255, 255, 255, 0.2);
  color: var(--black);
}

.postContainer li {
  margin: 0.5rem 0;
}

.postContainer li:not(a) {
  color: var(--title);
  text-shadow: 0 0 1px var(--link);
}

.postContainer li a {
  text-shadow: none;
}

.postContainer blockquote {
  background: var(--sdbg);
  padding: 0.25rem 1rem;
  border-left: 3px solid var(--link);
}

.postContainer img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 5px;
}

.postContainer pre {
  margin: 1rem 0;
}

.postContainer p code {
  font-size: 1.1rem;
  max-width: 100%;
  padding: 0 3px;
  color: var(--code);
  background: var(--dbg);
}

.postContainer pre::-webkit-scrollbar {
  height: 4px;
}
.postContainer pre::-webkit-scrollbar-track {
  background: var(--black);
}
.postContainer pre::-webkit-scrollbar-thumb {
  background: var(--navigation);
}
.postContainer pre::-webkit-scrollbar-thumb:hover {
  background: var(--title);
}
