.postContainer {
  background: var(--ds);
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem 0;
}

.postContainer .date {
  display: table;
  margin-top: -0.5rem;
  color: var(--link);
  border-bottom: 1px solid var(--link);
  margin-bottom: 1rem;
}

.postContainer a:hover,
.postContainer a:focus {
  color: var(--alt);
}
