.sidebar {
  background: var(--sidebar);
  color: var(--primary);
  height: 100vh;
  min-width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  background: var(--ls);
  color: var(--primary);
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
}

.navigation a:hover,
.navigation a:focus {
  background: var(--ds);
}

.navigation a.current {
  background: var(--primary);
  color: var(--background);
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
  /* .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(100% - 50px);
    bottom: 0;
    height: 50px;
    width: 100vw;
    box-shadow: 0 -5px 10px var(--ls);
  }
  .sidebar header {
    display: none;
  }
  .sidebar footer {
    display: none;
  }
  .navigation {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-content: center;
  }
  .navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .navigation a:hover,
  .navigation a:focus {
    background: var(--ds);
  } */
}
