.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--navigation);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0.3rem 0;
  border-radius: 0.5rem;
  transition: 0.1s;
  background: var(--dbg);
  color: var(--title);
  border: 2px solid transparent;
  outline: none;
}

.navigation a:hover,
.navigation a:focus {
  border-color: var(--title);
}

.navigation a.current {
  color: var(--black);
  background: var(--link);
}

.navigation a.current:hover,
.navigation a.current:focus {
  border-color: var(--link);
  color: var(--link);
  background: transparent;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
