.postContainer {
  width: 1000px;
  max-width: 90vw;
  margin: 0 auto;
  background: var(--ls);
  padding: 2rem;
  border-radius: 10px;
}

.date {
  display: table;
  color: var(--link);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--link);
}

.postContainer p {
  margin: 0.5rem 0;
}

.postContainer li {
  margin-bottom: 0.5rem;
}

.postContainer h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.postContainer h3 {
  margin-top: 1.5rem;
}

.postContainer h4 {
  margin-top: 1rem;
}

.postContainer p code {
  color: var(--secondary);
  padding: 0 0.25rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.95rem;
}

.postContainer img {
  display: block;
  margin: auto;
  max-width: 90%;
}

.postContainer blockquote {
  margin: 1rem 0;
  background: var(--ws);
  padding: 0.25rem 1rem;
  border-left: 3px solid var(--secondary);
}

.postContainer pre {
  background: #0f1928;
}

.postContainer pre::-webkit-scrollbar {
  height: 3px;
}
.postContainer pre::-webkit-scrollbar-track {
  background: var(--ls);
  border-radius: 1rem;
}
.postContainer pre::-webkit-scrollbar-thumb {
  background: var(--title);
  border-radius: 1rem;
}
.postContainer pre::-webkit-scrollbar-thumb:hover {
  background: var(--link);
}

@media (max-width: 750px) {
  .postContainer {
    padding: 2rem 1rem;
  }
}
