.postContainer {
  width: 1000px;
  max-width: 90vw;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
}

.date {
  display: table;
  color: var(--red);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--red);
}

.postContainer p {
  margin: 0.5rem 0;
}

.postContainer li {
  margin-bottom: 0.5rem;
}

.postContainer h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.postContainer h3 {
  margin-top: 1.5rem;
}

.postContainer h4 {
  margin-top: 1rem;
}

.postContainer p code {
  color: var(--purple);
  background: var(--ws);
  padding: 0 0.25rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.95rem;
}

.postContainer img {
  display: block;
  margin: auto;
  max-width: 90%;
}

.postContainer blockquote {
  margin: 1rem 0;
  background: var(--ws);
  padding: 0.25rem 1rem;
  border-left: 3px solid var(--red);
  text-shadow: 0 0 10px var(--ds);
}
