.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--link);
  padding: 2rem;
  text-decoration: none;
}

.blogPost h1 {
  font-size: 1.5rem;
  margin: 0;
}

.blogPost .date {
  color: #7bed9f;
  margin: 0 0 0.5rem 0;
}

.desc {
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blogPost:hover,
.blogPost:focus {
  background: var(--shadow);
}
