.post-body {
  width: 1000px;
  max-width: 90vw;
  margin: auto;
}

.post-body h1 {
  font-size: 4.5rem;
  margin: 1rem 0;
  word-break: break-all;
}
.post-body h2 {
  font-size: 3.5rem;
  margin: 1rem 0;
}
.post-body h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.post-body h4 {
  font-size: 2rem;
  margin: 1rem 0;
}

.post-body p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.date {
  margin: 0;
  color: #cccccc;
}

p.author {
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--shadow);
}

p > code {
  background: rgba(0, 0, 0, 0.1);
  color: #ff6348;
  padding: 0 5px;
  word-break: break-all;
}
