/* ! JAVASCRIPT */

/* STRINGS & METHODS */
[data-language='javascript'] > .grvsc-code span.mtk1 {
  color: #d2dae2;
}

/* CONST & NEW */
[data-language='javascript'] > .grvsc-code span.mtk4 {
  color: #f53b57;
}

/* PARAMETERS */
[data-language='javascript'] > .grvsc-code span.mtk12 {
  color: #ffdd59;
}

/* COMMENT */
[data-language='javascript'] > .grvsc-code span.mtk3 {
  color: #808e9b;
  background: rgba(0, 0, 0, 0.1);
}

/* NUMBER */
[data-language='javascript'] > .grvsc-code span.mtk5 {
  color: #ff5e57;
}

/* ! HTML */

/* TEXT */
[data-language='html'] > .grvsc-code span.mtk1 {
  color: #dfe4ea;
}

/* HTML TAGS */
[data-language='html'] > .grvsc-code span.mtk8 {
  color: #ff4757;
}

/* HTML CLASS ID */
[data-language='html'] > .grvsc-code span.mtk9 {
  color: #7bed9f;
}

/* CLASS NAME ID NAME */
[data-language='html'] > .grvsc-code span.mtk4 {
  color: #70a1ff;
}

/* ! CSS */

/* SELECTOR BODY BUTTON ETC */
[data-language='css'] > .grvsc-code span.mtk8 {
  color: #ed4c67;
}

/* BRACKETS SEMI&COLON */
[data-language='css'] > .grvsc-code span.mtk1 {
  color: #ced6e0;
}

/* CSS PROPERTY */
[data-language='css'] > .grvsc-code span.mtk9 {
  color: #d980fa;
}

/* NUMBER */
[data-language='css'] > .grvsc-code span.mtk5 {
  color: #ffc312;
}

/* CSS VALUE */
[data-language='css'] > .grvsc-code span.mtk6 {
  color: #12cbc4;
}

/* COMMENT */
[data-language='css'] > .grvsc-code span.mtk3 {
  color: #808e9b;
  background: rgba(0, 0, 0, 0.1);
}
