@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Reem+Kufi&display=swap');

:root {
  --background: #2f3542;
  --title: #ff4757;
  --text: #dfe4ea;
  --link: #ff6b81;
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-position: inside;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.content {
  flex: 1;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* !NORMALIZE */

h1,
h2,
h3,
h4 {
  font-family: 'Reem Kufi', sans-serif;
  color: var(--title);
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #dbdbdb;
}

a {
  color: var(--link);
}

a:hover,
a:focus {
  text-decoration: none;
}

strong {
  color: var(--text);
  font-style: italic;
}

button {
  font-weight: bold;
  display: table;
  background: var(--title);
  color: var(--background);
  border: 2px solid var(--link);
  font-size: 1.5rem;
  padding: 0.1rem 1rem 0.2rem;
  margin: 1rem 0;
  cursor: pointer;
}

.button {
  display: table;
  background: var(--title);
  color: var(--background);
  font-size: 1.3rem;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  border: 2px solid var(--link);
  transition: 0.2s;
  text-decoration: none;
  font-weight: bold;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  background: var(--background);
  color: var(--link);
  text-decoration: none;
}

/* !FOOTER */

/* !MEDIA */

@media (max-width: 750px) {
  .full-navigation {
    display: none;
  }

  .burger {
    display: block;
    height: 2rem;
    z-index: 2;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .social {
    margin: 1rem 0;
  }

  .social a:first-child {
    margin-left: 0;
  }

  .form {
    padding: 1rem;
  }
}

li a:hover,
li a:focus,
p a:hover,
p a:focus {
  color: #0be881;
}

li {
  font-family: 'Open Sans', sans-serif;
  list-style-type: circle;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--shadow);
}
::-webkit-scrollbar-thumb {
  background: var(--link);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--title);
}

.fourimage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourimage img {
  max-height: 80vh;
}
