.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.works a {
  outline: none;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background: var(--ls);
  color: var(--sky);
  border: 2px solid var(--sky);
  transition: 0.2s;
  font-size: 1.3rem;
}

.works a:hover,
.works a:focus {
  background: var(--ds);
  color: var(--red);
  border-color: var(--red);
}
