.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.works a {
  outline: none;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background: var(--ds);
  transition: 0.2s;
  font-size: 1.3rem;
  border-radius: 10px;
}

.works a:hover,
.works a:focus {
  background: linear-gradient(90deg, var(--title), var(--link));
  color: var(--dark);
  background-size: 300%;
  background-position: left;
  animation: flow 5s infinite alternate;
}

@keyframes flow {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
