/* GLOBAL */
/* 🍜🍜🍜🍜🍜 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.3rem;
}

body {
  background: #14213d;
  color: #ffffff;
}

#container {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 20vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: table;
  color: #fca311;
  font-size: 2rem;
}

:focus {
  outline: none;
}

::selection {
  background: #ffb703;
  color: #14213d;
}

a {
  color: #e63946;
}

/* END GLOBAL 🥐🥐🥐🥐 */

.home {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  margin-bottom: 20px;
}

header nav a {
  color: #80ffdb;
  padding: 4px 5px 5px;
  margin: 0 5px;
  transition: 0.2s;
}

header nav a:hover,
header nav a:focus {
  background: #d8f3dc;
  color: #081c15;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  position: absolute;
  bottom: 0;
}

footer a {
  margin: 5px;
}

footer img {
  width: 30px;
  background: #fca311;
  border-radius: 50%;
  padding: 5px;
}

a.button {
  display: table;
  background: #ffb703;
  color: #14213d;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 5px 10px;
  margin: 10px 0;
  text-decoration: none;
}

a.button:hover,
a.button:focus {
  background: #e71d36;
  color: #fdfffc;
}

/* BLOG */
/* 🍗🍗🍗🍗🍗 */

.blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.post {
  width: 100%;
  height: 300px;
  padding: 10px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.post img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* CREATE ✍✍✍✍✍✍ */

.create {
  width: 70%;
  min-height: 70vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 3px solid #fca311;
  padding: 20px;
}

form label {
  display: table;
  margin-bottom: 4px;
}

form input,
form textarea {
  width: 300px;
  margin-bottom: 15px;
  resize: none;
  padding: 0 10px;
}

form textarea {
  height: 200px;
}

button {
  display: block;
  background: #ffb703;
  color: #14213d;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 3px 10px;
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #e63946;
  color: #ffffff;
}

/* 📱📱📱📱📱📱📱📱📱📱📱📱📱 */

@media (max-width: 750px) {
  header,
  footer {
    flex-direction: column;
  }
}
